/* CSS for RocketChatXBlock */

.rocketc_block .count {
    font-weight: bold;
}

.rocketc_block p {
    text-align: center;
}

.rocketc_block embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

#myframe{
    position: relative;
    display: block;
    top:0;
    left: 0;
    width: 100%;
    height: 500px;
    border: none;
}
