<div class="rocketc_block">
    <center>
        {% if default_group_enable%}

            {% if "authToken" in response%}
                <div class="embed-container">
                    <iframe style="width:0;height:0;border:0; border:none;" src="http://localhost:3000/home?authToken={{response.authToken}}&userId={{response.userId}}" >IFrame is not supported</iframe>
                    <iframe id="myframe" src="http://localhost:3000/group/{{user_data.default_group}}?layout=embedded" >IFrame is not supported</iframe>
                 </div>
            {% else %}
                {{response}}
            {% endif %}

        {% else %}

            {% if "authToken" in response%}
        		<div class="embed-container">
            		<iframe id="myframe" src="{{user_data.url_service}}/home?authToken={{response.authToken}}&userId={{response.userId}}" >IFrame is not supported</iframe>
        		</div>
            {% else %}
                {{response}}
            {% endif %}

        {% endif %}

    </center>
</div>
